/* 共通 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-weight: normal;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
  opacity: 0.5;
}
input, select {
  outline: none;
}

/* header */
header {
  background-color: #1A48A6;
  position: fixed;
  width: 100%;
  height: 56px;
}
.headerInner {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  height: 100%;
}
.siteTitleLink {
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
}
.navList {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.navListItem {
  font-size: 1.6rem;
}
.navListLink {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* humburger menu */
.humburgerMenuButton {
  display: flex;
  flex-direction: column;
  gap: 6px;
  display: none;
}
.bar {
  display: block;
  background-color: #fff;
  width: 30px;
  height: 2px;
}
.humburgerMenuButton > .barTop,
.humburgerMenuButton > .barMiddle,
.humburgerMenuButton > .barBottom {
  transition: .3s
}

/* firstView */
.firstView {
  background-image: url(../img/kv.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstViewTitle {
  font-size: 4.2rem;
  font-weight: normal;
}

/* about */
.aboutSection {
  margin: 4rem 2rem 0;
}
.aboutSectionTitle {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
.aboutSectionText {
  max-width: 980px;
  margin: 0 auto;
  font-size: 2.8rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.underline {
  background: linear-gradient(transparent 50%, #ffdea0 50%);
}

/* service */
.serviceSection {
  margin: 6.4rem 2rem 0;
}
.serviceSectionTitle {
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}
.serviceCategory {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
/* serviceBox */
.serviceBox {
  padding: 1.4rem 0;
  width: 240px;
  border: 1px solid #222;
}
.serviceBox:hover {
  cursor: pointer;
}
.serviceBox1.active,
.serviceBox1:hover {
  background-color: #b3ffff;
  transition: 0.3s;
}
.serviceBox2.active,
.serviceBox2:hover {
  background-color: #ffdea0;
  transition: 0.3s;
}
.serviceBox3.active,
.serviceBox3:hover {
  background-color: #a7ff99;
  transition: 0.3s;
}
/* serviceTitle */
.serviceTitle {
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
}
/* serviceDescription */
.serviceDescription {
  max-width: calc((240px * 3) + (2rem * 2));
  margin: 2rem auto 0;
  border: 1px solid #222;
}
.serviceDescriptionText {
  padding: 4px;
  font-size: 1.2rem;
  font-weight: normal;
  height: 100px;
  display: none;
}
.serviceDescriptionText.active {
  display: block;
}

/* contact */
.contactSection {
  margin: 6.4rem 2rem;
}
.contactSectionTitle {
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}
/* contactForm */
.required {
  color: #ff0000;
  font-size: 1rem;
  margin-left: 4px;
}
.optional {
  color: #999;
  font-size: 1rem;
  margin-left: 4px;
}
.contactForm {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contactFormGroup {
  width: 100%;
}
.contactFormLabel {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
}
.contactFormInput {
  display: inline-block;
  width: 100%;
  padding: 8px 4px;
  border: 1px solid #999;
  font-size: 1.6rem;
}
.contactFormSelect {
  display: inline-block;
  width: 100%;
  padding: 8px 4px;
  border: 1px solid #999;
  font-size: 1.6rem;
}
.contactFormSubmit {
  padding: 8px 4px;
  border: 1px solid #999;
  font-size: 1.6rem;
  cursor: pointer;
}

/* thanks */
.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.thanksText {
  font-size: 2.4rem;
  font-weight: normal;
}

/* tablet */
@media screen and (max-width: 768px) {
}

/* sp */
@media screen and (max-width: 480px) {
  .siteNav {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
  }
  .navList {
    background-color: #1A48A6;
    display: none;
  }
  .navListItem {
    width: 100%;
    height: 56px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  .navListItem:nth-of-type(1) {
    border-top: 1px solid #fff;
  }
  .humburgerMenuButton {
    display: flex;
    /*
      ハンバーガーメニューの高さ: 18px
      ヘッダーの高さ: 56px
      56 / 2 - 18 / 2 = 19
      56 - 19 = 37
    */
    position: absolute;
    top: -37px;
    right: 12px;
  }
  .closeMenuButton > .barTop {
    transform: rotate(45deg) translate(4px, 8px);
    transition: .3s
  }
  .closeMenuButton > .barMiddle {
    background-color: transparent;
    transition: .3s
  }
  .closeMenuButton > .barBottom {
    transform: rotate(-45deg) translate(4px, -8px);
    transition: .3s
  }
  .firstViewTitle {
    font-size: 2.8rem;
  }
  .serviceCategory {
    flex-direction: column;
    align-items: center;
  }
  .serviceBox {
    width: 100%;
  }
  .contactForm {
    width: 100%;
  }
  .thanks {
    margin: 0 2rem;
  }
  .thanksText {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
  }
}
